<h1 id="heading">Some of my works include:</h1>
<br>

<div>
    <ol>
        <li class="project">
            <a href="https://rollDiceGames.olawalealex-oni.repl.co">Basic Dice Game</a>
            <p>This is a react practice of a basic online Dice game show casing some react skills</p>
            <p><strong>Technologies Used</strong></p>
            <ul>
                <li class="tech">Html</li>
                <li class="tech">Css</li>
                <li class="tech">React </li>
            </ul>
        </li>
        <br>
        <li class="project"><a href="https://twitter-clone-1.olawalealex-oni.repl.co">Twitter Clone</a>
            <p>A user Interface Similar to twitter (without the login functions or user account creation functions)where user can post thoughts,share ideas and interact</p>
            <p><strong>Technologies Used</strong></p>
            <ul>
                <li class="tech">Html</li>
                <li class="tech">Css</li>
                <li class="tech">Bootstrap</li>
                <li class="tech">Javascript / JQuery</li>
                <li class="tech">Django</li>
                <li class="tech">Cloudinary (To host uploaded images on CDN)</li>   
            </ul>
        </li>
        <br>
        <li class="project">
            <a href="https://lemonadefrontend.olawalealex-oni.repl.co">Lemonade Front-End</a>
            <br>
            <a href="https://lemonade-backend-1.olawalealex-oni.repl.co">Lemonade BackEnd</a>
            <p>This is a Mini E-Commerce project with a frontend built in React & Redux and a backend built in Django API.
                Customers can login and order their favourite tea from the app,register,login.</p>
            <p><strong>Technologies Used</strong></p>
            <ul>
                <li class="tech">Html</li>
                <li class="tech">Css</li>
                <li class="tech">Bootstrap</li>
                <li class="tech">React and Redux</li>
                <li class="tech">Django</li>
                <li class="tech">Cloudinary (To host uploaded images on CDN)</li>
            </ul>
        </li>
        <br>
        <li class="project">
            <a href="https://dreamfront.olawalealex-oni.repl.co">DreamHouse Project Front-End</a>
            <br>
            <a href="https://backenddream.olawalealex-oni.repl.co">DreamHouse Project Back-End</a>
            <p>This is an e-commerce website where you can buy, sell, lease, or rent properties. You can sign up/sign in to use the website and easily search for properties using the location, prices, and other aspects while looking for the perfect place! Detailed information about all the listed properties is provided along with verified images for easy navigation and your safety..</p>
            <p><strong>Technologies Used</strong></p>
            <ul>
                <li class="tech">Bootstrap</li>
                <li class="tech">React and Redux</li>
                <li class="tech">Django</li>
                <li class="tech">Cloudinary (To host uploaded images on CDN)</li>
            </ul>
        </li>
    </ol>
</div>